<mat-nav-list>
  <ng-container *ngIf="!isAuth">
    <a mat-list-item routerLink="/signup"
    (click)="onClose()">
      <mat-icon>face</mat-icon>
      <span class="nav-item">Sign Up</span>
    </a>
    <a mat-list-item routerLink="/login"
    (click)="onClose()">
      <mat-icon>directions_walk</mat-icon>
      <span class="nav-item">Log In</span>
    </a>
  </ng-container>
  <ng-container *ngIf="isAuth">
    <a mat-list-item routerLink="/training"
    (click)="onClose()">
      <mat-icon>directions_run</mat-icon>
      <span class="nav-item">Training</span>
    </a>
    <mat-list-item>
      <button mat-icon-button>
        <mat-icon>eject</mat-icon>
        <span class="nav-item">Log Out</span>
      </button>
    </mat-list-item>
  </ng-container>
</mat-nav-list>